html {
    height: 100%;
    width: 100%;
  }
  ul{
    background-color: #08d6cf;
    list-style:none ;
  }
  li{
    color: #ff0000;
    font-size: 28px;
    display: inline-block;
    margin: 30px;
  }
  h1{
    text-align-last: center;
  }
  p{
    color: rgb(255, 0, 221);
    font: 25px sans-serif;
  }
